.conteiner-owner{
    width: 100%;
    height: 100%;
    max-height: 95%;
    padding: 0 10px;
}

.container-video{
    width: 100%;
    height: 94%;
    padding: 10px 0;
}

.video{
    height: 100%;
    width: 100%;
}

.container-frame{
    width: 100%;
    height: 8%;
    border: solid 2px #ffffff1f;
    border-radius: 10px;
    padding: 0 20px 0 0;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.control-frame{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75%;
    width: 290px;
    max-width: 162px;
    min-width: 162px;
    margin: 0 10px;
    color: #fff;
    background-color: #ffffff12;
    border: solid 2px #ffffff0a;
    border-radius: 10px;
}

.name-tool{
    width: 100%;
    font-size: 80px;
    font-family: cursive;
    color: #ffffff59;
    text-align: center;    
    margin-top: -58px;
}

.form-login{
    width: 380px;
    border: solid 2px #ffffff21;
    border-radius: 10px;
    padding: 0px 22px 14px 0px 0;
    padding: 0 0 10px 0;
}

.form-group-login{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    color: #ffffff9c;
}

.form-group-login input{
    border-radius: 5px;
    height: 30px;
    width: 200px;
    opacity: .5;
}

.form-group-title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding: 3px 5px;
    color: #ffffff85;
    border-bottom: solid 2px #ffffff05;
    background-color: #ffffff03;
    border-radius: 10px 10px 0 0;
}

.container-script{
    
}

.script{
    color: #fff;
}